* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: darkblue;
    --secondary-color: cornsilk;
    --tertiary-color: coral;
}

body {
    background: var(--primary-color);
}

#timer {
    float: right;
    color: var(--secondary-color);
}

h1 {
    margin: 100px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 8em;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.info {
    margin: 100px auto;
    width: 50rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
}

.style {
    color: whitesmoke;
    font-size: 1.5em;
}

button {
    padding: 2rem;
    background: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 2em;
    border-radius: 10px;
}